<div class="login-page-container">
    <div class="login-box">
        <h2 class="title-step">Paso 1 de 2</h2>
        <h1 class="title">Crear una cuenta</h1>

        <div class="social-login-options top-options">
            <button class="btn-social social-circle google">
                <img src="assets/icons/google-logo.svg" alt="Google Logo">
            </button>
            <button class="btn-social social-circle facebook">
                <img src="assets/icons/facebook-logo.svg" alt="Facebook Logo">
            </button>
            <button class="btn-social social-circle apple">
                <img src="assets/icons/apple-logo.svg" alt="Apple Logo">
            </button>
        </div>

        <div class="separator-or">
            <hr>
            <span>O</span>
            <hr>
        </div>

        <h2 class="subtitle-registro">Registrarse con el correo electrónico</h2>

        <div class="back-to-login">
            ¿Ya tienes una cuenta? <a [routerLink]="['/login']" class="link-login">Iniciar sesión</a>
        </div>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="login-form" novalidate>
            <div class="form-group">
                <label for="email">Dirección de correo electrónico</label>
                <input type="email" id="email" name="email" required
                        ngModel #emailInput="ngModel" placeholder="tu.correo@ejemplo.com"
                        (input)="onEmailChange(emailInput.value)">

                <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched || f.submitted)" class="validation-message">
                    Por favor, ingresa tu correo electrónico.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="password-input-group">
                    <input [type]="passwordVisible ? 'text' : 'password'"
                           id="password"
                           name="password"
                           required
                           ngModel
                           #passwordInput="ngModel"
                           (input)="onPasswordChange(passwordInput.value)">

                    <button type="button"
                            class="toggle-password"
                            (click)="togglePasswordVisibility()">
                        <i class="fa-solid"
                           [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                </div>

                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || f.submitted)" class="validation-message">
                    La contraseña es obligatoria.
                </div>

                <div class="password-rules-container" *ngIf="passwordInput.value?.length > 0">
                    <h3>Crea una contraseña que:</h3>
                    <ul>
                        <li [class.valid]="passwordRules.minLength" [class.invalid]="!passwordRules.minLength">
                            <i class="fa-solid"
                               [ngClass]="passwordRules.minLength ? 'fa-check-circle' : 'fa-times-circle'"></i>
                            Contenga al menos 8 caracteres
                        </li>
                        <li [class.valid]="passwordRules.hasBothCases" [class.invalid]="!passwordRules.hasBothCases">
                            <i class="fa-solid"
                               [ngClass]="passwordRules.hasBothCases ? 'fa-check-circle' : 'fa-times-circle'"></i>
                            Contenga tanto letras minúsculas (a-z) como mayúsculas (A-Z)
                        </li>
                        <li [class.valid]="passwordRules.hasNumberOrSymbol" [class.invalid]="!passwordRules.hasNumberOrSymbol">
                            <i class="fa-solid"
                               [ngClass]="passwordRules.hasNumberOrSymbol ? 'fa-check-circle' : 'fa-times-circle'"></i>
                            Contenga al menos un número (0-9) o un símbolo
                        </li>
                        <li [class.valid]="passwordRules.notContainsEmail" [class.invalid]="!passwordRules.notContainsEmail">
                            <i class="fa-solid"
                               [ngClass]="passwordRules.notContainsEmail ? 'fa-check-circle' : 'fa-times-circle'"></i>
                            No contenga tu dirección de correo electrónico
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn-primary">Continuar</button>
        </form>
    </div>
</div>
