<header class="header">
  <div class="header-top">
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="Logo de tu gimnasio">
    </div>
    <div class="auth-buttons">
      <a href="#" class="login">Inicia Sesión | Regístrate</a>
    </div>
  </div>

  <div class="header-bottom">
    <nav class="main-nav">
      <ul>
        <li><a [routerLink]="['/']">INICIO</a></li>

        <li><a [routerLink]="['/']" fragment="conocetugym">CONOCE TU GYM</a></li>

        <li><a [routerLink]="['/planes']">PLANES</a></li>
      </ul>
    </nav>
  </div>
</header>
