/* General */
.header {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.logo img {
  max-height: 100px;
  width: auto;
  display: block;
}

/* Top bar */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: #000000;
}

/* Logo alineado a la izquierda */
.logo {
  flex-grow: 1; /* Esto hace que el logo ocupe el espacio a la izquierda */
  text-align: left;
}

/* Auth buttons */
.auth-buttons {
  display: flex;
  align-items: center;
}

.login {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.btn:hover {
  background-color: #c62828;
}

/* Bottom bar (nav) */
.header-bottom {
  background-color: #333;
  padding: 15px 30px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrado */
  gap: 30px;
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.main-nav a:hover {
  color: #e53935;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  /* Oculta los botones de autenticación para ahorrar espacio */
  .auth-buttons {
    display: none;
  }

  /* Reduce el tamaño del logo para que no ocupe tanto espacio */
  .logo img {
    max-height: 50px;
  }

  /* Cambia el diseño de la barra de navegación para que los enlaces se apilen */
  .header-bottom {
    padding: 10px 20px;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .main-nav a {
    font-size: 14px;
  }
}
