/* Reinicia los márgenes y rellenos por defecto */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    /* Esto hace que todos los saltos a IDs (#planes) sean suaves */
    scroll-behavior: smooth;
}
